<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Email</li><li><a class="u-email" href="mailto:matteotroia@icloud.com">matteotroia@icloud.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li class="p-name">Twitter</li><li><a class="u-email" href="https://twitter.com/_matteotroia" target="_blank">_matteotroia</a></li></ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li class="p-name">Linkedin</li><li><a class="u-email" href="https://www.linkedin.com/in/m-tro%C3%ACa/" target="_blank">Matteo Troìa</a></li></ul>
      </div>


    </div>

  </div>
</footer>
